---
layout: default
---
<article class="post">

  <h1 class="post-title">{{ page.title }}</h1>

  <p class="post-meta">
    <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%Y-%m-%d" }}</time>

    {% if page.author %}
      &nbsp;/&nbsp;
      <span>{{ page.author }}</span>
    {% endif %}
    &nbsp;/&nbsp;
    <a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ page.id }}">0 Comments</a>
    
  </p>

  <div class="post-content">

    {{ content }}
    
    <!--여기다넣기-->

	<div id="example2">

		<img src="http://kitchen.net-perspective.com/images/ducks2.png" alt="Ducks" />

		<p>
			910F 블로그. <a href="http://dev.uhoon.co.kr">http://dev.uhoon.co.kr</a>
		</p>

		<p>
			유느님 블로그. <a href="http://blog.goodkiss.co.kr">http://blog.goodkiss.co.kr</a>
		</p>

		<p>
			<a href="http://kitchen.net-perspective.com/open-source/scroll-follow/">Plugin Site Go.</a>
		</p>
	</div>
    

    <center>
    테스트1
    </center>
    
    <div class="post-links">
      {% if page.next.url %}
        <a class="link-to-post" href="{{ page.next.url }}">
          <span class="link-to-post__next">&#10535; &nbsp;Next post</span>
          <span class="link-to-post__title">{{ page.next.title }}</span>
        </a>
      {% endif %}

      {% if page.previous.url %}
        <a class="link-to-post" href="{{ page.previous.url }}">
          <span class="link-to-post__prev">&#10535; &nbsp;Previous post</span>
          <span class="link-to-post__title">{{ page.previous.title }}</span>
        </a>
      {% endif %}
    </div>

  </div>

</article>

{% include disqus.html %}
